@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-text')

$font-stack: Neue Haas Grotesk Text, Helvetica, Arial
$text-color: #fff
$navbar-color: #2C2C3E
$background: #315582

body
  font: 100% $font-stack
  color: $text-color
  background: $background
  overflow: auto
  
.home-page 
  display: flex
  flex-direction: column
  align-items: center

.home-page img 
  max-width: 96%
  min-width: 20%
  height: auto

.intro 
  height: 100%
  padding: 2rem 2rem 2rem 2rem

.navbar 
  width: 98%
  min-width: 20%
  height: 110px
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: center
  padding: 1.5rem 1rem

.navbar-logo img 
  max-width: 100%
  min-width: 20%
  height: auto

.moon 
  padding-right: 1.5rem

.navbar-links 
  display: flex
  width: 100%
  object-fit: cover
  justify-content: space-evenly
  list-style: none
  align-items: center
  padding: 1rem 1rem 1rem 1rem
  background-color: $navbar-color

.navbar-links > li 
  font-size: 100%

.navbar-links > li > a 
  text-decoration: none
  display: flex
  align-items: center
  color: $text-color

.navbar-links > li > a > span:hover 
  color: $background

.project-intro
  padding-top: 2rem

.projects-page 
  display: flex
  flex-direction: column
  align-items: center

.project-card 
  display: flex
  flex-direction: column
  border: solid 5px
  flex-wrap: wrap
  margin: 1rem 1rem 1rem 1rem
  padding: 1rem 1rem 1rem 1rem
  background-color: $navbar-color

.project-card img 
  object-fit: cover
  min-width: 20%
  height: auto
  padding: 1rem 1rem 1rem 1rem
  border: solid 2px

.project-card a 
  justify-content: center
  color: $text-color
  border: solid 2px
  padding: 1rem

.project-card a:hover 
  color: $background

.work-intro
  padding-top: 2rem

.work-page 
  display: flex
  flex-direction: column
  align-items: center

.work-card 
  display: flex
  flex-direction: row
  justify-content: space-evenly
  border: solid 5px
  flex-wrap: wrap
  margin: 1rem 1rem 1rem 1rem
  padding: 1rem 1rem 1rem 1rem
  background-color: $navbar-color

.work-card img 
  object-fit: cover
  min-width: 20%
  height: auto
  padding: 0.5rem 0.5rem 0.5rem 0.5rem
  border: solid 2px

.work-card p 
  width: 70%
  justify-content: center
  color: $text-color
  padding: 1rem

.contact-page
  display: flex
  flex-direction: column
  align-items: center

.contact-page p
  padding-top: 2rem

.contact-page img 
  background: $navbar-color
  max-width: 40%
  height: auto
  padding: 2rem 2rem 2rem 2rem
  border: solid 5px

.form 
  margin-top: 1rem
  padding-top: 2rem
  border: solid 5px
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-evenly
  max-width: 100%
  min-width: 20%
  background: $navbar-color

.name 
  width: 40%
  margin-left: 10%
  padding-bottom: 2rem
  border-radius: 20%

.email 
  width: 40%

.subject 
  width: 40%
  margin-left: 10%

.title 
  width: 40%

.message 
  max-width: 100%
  min-width: 20%
  height: auto
  padding: 2rem

.send-message 
  display: flex
  flex-direction: column-reverse
  padding: 2rem 2rem 2rem 2rem
  margin-left: 30%

.send-message button 
  max-width: 100%
  min-width: 20%


